asgiref==3.2.7
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.5
django-heroku==0.3.1
gunicorn==20.0.4
psycopg2==2.8.5
python-dotenv==0.12.0
python-http-client==3.2.7
pytz==2019.3
selenium==3.141.0
sendgrid==6.2.1
sqlparse==0.3.1
static3==0.7.0
urllib3==1.25.8
whitenoise==5.0.1
chromedriver-binary==83.0.4103.14.0

